<form (ngSubmit)="getUsername(userInput)" class="formy">
  <div class="d-flex" id="search">
    <input
      name="userInput"
      [(ngModel)]="userInput"
      class="form-control me-2"
      type="search"
      placeholder="Search  github username"
      aria-label="Search"
    />
    <button
      [disabled]="userInput.length == 0"
      class="btn btn-outline-success"
      type="submit"
    >
      Search
    </button>
  </div>
</form>

<div *ngIf="user" class="container">
  <div class="image"> <img src="{{ user.avatar_url }}" /></div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            {{ user.login }}
          </div>
          <div class="card-text">
            <p>Followers:{{ user.followers }}</p>
            <p>Following:{{ user.following }}</p>
            <a href="{{ user.html_url }} " target="_blank">Github Url</a>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
