<div class="container-fluid">
  <div class="row" justify-content-center window-height>
    <div class="col-md-4"></div>
    <div class="col-md-4" id="ui">
      <form>
        <div class="card shadow">
          <div class="card body" id="crad-body">
            <div class="form-group">
              <label for="exampleInputEmail1" class="form-label"
                ><b>Username</b></label
              >
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter Username"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                ><b>Password</b></label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Enter Password"
              />
            </div>
            <div class="card-footer text-muted text-right">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
