<div class="github">
  <div class="row">
    <div class="col">
      <h2>
        Github search gives you an opportunity to view other peoples github
        repositories <br />by searching for their user names!!
        <span> try it out and get to view amazing profiles!</span>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img src="../../assets/pic.png" />
    </div>
    <div class="col-md-8">
      <p>search for users here</p>
      <br />
      <div class="div">
        <input type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </div>
    </div>
  </div>
</div>
