* {
  background-image: url(../../assets/back1.jpg);
}

.github {
  height: 100vh;
  text-align: center;
  color: azure;
}

.github img {
  border-radius: 10px;
}

#start {
  margin-bottom: 10%;
}

.start {
  background: transparent;
  margin-bottom: 10px;
}

.start #start {
  margin-bottom: 30px;
}
