* {
  background: linear-gradient(
    180deg,
    rgba(185, 105, 31, 0.66) 0%,
    rgba(6, 43, 172, 0.429) 100%
  );
}
.search img {
  height: 500pxpx;
  width: 500px;
}

.search {
  height: 100vh;
}
